name: Test and Quality
on:
  pull_request:
    branches: ["master"]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements-dev.txt

      - name: Running unit tests with pytest
        run: |
          pytest tests/ --maxfail=1 --disable-warnings -q

      - name: Running coverage tests with pytest
        run: |
          pytest --cov=src/domain --cov=src/adapters --cov=src/ports --cov-report=xml:coverage.xml tests/
      
      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{secrets.SONAR_TOKEN}}
